@model SemanaAcademica.Models.ViewModel.CertificadosViewModel

@{
    ViewBag.Title = "Certificados";
}

<h2><span class="glyphicon glyphicon-file"></span> Certificados</h2>

@if (Model.HasContribuicao)
{
    <br />
    <p>Você possui os seguintes certificados:</p>
    <br />
    
    <div class="list-group col-md-4">
        @if (Model.HasPalestras)
        {
            <a href="/Certificados/Palestras" class="list-group-item">Certificado de Participação em Palestras</a>
        }

        @if (Model.HasMinicurso)
        {
            <a href="/Certificados/Minicursos" class="list-group-item">Certificado de Participação em Minicurso</a>
        }

        @if (Model.HasOficina)
        {
            <a href="/Certificados/Oficinas" class="list-group-item">Certificado de Participação em Oficina</a>
        }

        @if (Model.HasVisita)
        {
            <a href="/Certificados/Visitas" class="list-group-item">Certificado de Participação em Visita Técnica</a>
        }

        @if (Model.HasOrganizador)
        {
            <a href="/Certificados/Administrador" class="list-group-item">Certificado de Organizador</a>
        }

        @if (Model.HasTrabalhoVoluntario)
        {
            <a href="/Certificados/TrabalhoVoluntario" class="list-group-item">Certificado de Trabalho Voluntario</a>
        }
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">Apenas participantes que realizaram a doação de alimentos têm direito ao certificado!</div>
}