@model SemanaAcademica.Models.ViewModel.CertificadosViewModel

@{
    ViewBag.Title = "Certificados";
}

<h2><span class="glyphicon glyphicon-file"></span> Certificados</h2>
<br />
<p>Você possui os seguintes certificados:</p>
<br />
@if (Model.HasContribuicao)
{
    <div class="list-group col-md-4">
        @if (Model.HasPalestras)
        {
            <a href="/Certificados/Palestras" class="list-group-item">Certificado de Participação de Palestras</a>
        }

        @if (Model.HasMinicurso)
        {
            <a href="/Certificados/Minicurso" class="list-group-item">Certificado de Participação de Minicurso</a>
        }

        @if (Model.HasOrganizador)
        {
            <a href="/Certificados/Administrador" class="list-group-item">Certificado de Organizador</a>
        }

        @if (Model.HasTrabalhoVoluntario)
        {
            <a href="/Certificados/TrabalhoVoluntario" class="list-group-item">Certificado de Trabalho Voluntario</a>
        }
    </div>
} 
else 
{
    <div class="alert alert-danger" role="alert">Apenas participantes que realizaram a doação de alimentos têm direito ao certificado!</div>
}