@model SemanaAcademica.Areas.Admin.Models.ListarEventoModel

@{
    ViewBag.Title = "Parceiros";
}

<h2>Parceiros</h2>

<div style="text-align: center">


    <a href="http://www2.dainf.ct.utfpr.edu.br/" target="_blank">
        <img src="~/Images/logo_dainf.jpg" /></a>
    <br />
    <a href="http://dainf.ct.utfpr.edu.br/peteco/" target="_blank">
        <img src="~/Images/logo_peteco.jpg" /></a>
    <br />
    <a href="http://www.dainf.ct.utfpr.edu.br/petcoce/" target="_blank">
        <img src="~/Images/logo_petcoce.jpg" /></a>
    <br />
    <a href="http://www.utfpr.edu.br/curitiba/estrutura-universitaria/diretorias/dirgrad/departamentos/eletronica/pagina-inicial" target="_blank">
        <img src="~/Images/logo_daeln.jpg" /></a>
    <br />
    <img src="~/Images/logo_novadidact.jpg" />
    <br />
    <img src="~/Images/logo_fluke.jpg" />
    <br />
    <img src="~/Images/logo_tektronix.jpg" />
    <br />
    <img src="~/Images/logo_reymaster.jpg" />
    <br />
    <img src="~/Images/logo_ftc.jpg" />

</div>
