@{
    ViewBag.Title = "Semana Acadêmica de Eletrônica e Informática";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}
<br />
<div style="margin-left: auto; margin-right: auto; background-color: white; font-weight: bolder; border: 1px solid green; width: 300px; height: 100px; text-align: center; cursor: pointer" onclick="window.location.href= '/Cadastro/Certificado'">
    ATENÇÃO : CERTIFICADOS DISPONÍVEIS!<br>
    <br />
    Clique aqui para fazer o download de seu certificado em formato PDF.
</div>
<br />
<p>
    A Semana de Eletrônica e Informática é um evento organizado pelos grupos PETs e Centros Acadêmicos dos departamentos de Eletrônica e Informática da UTFPR Curitiba. 
            <p>
                Nessa edição, que ocorrerá dos dias 17/06 ao dia 21/06, contará com a participação de colaboradores de grandes empresas e acadêmicos externos e internos a UTFPR. 
            </p>
<p>
    Forneceremos palestras, minicursos e mesas redondas de discussão de temas relevantes as áreas e cursos envolvidos.
</p>
<p>
    O evento voltado ao público de estudantes de graduação vinculados aos departamentos de Eletrônica e de Informática de UTFPR Curitiba, porém está aberto para a participação de outros estudantes, profissionais e acadêmicos internos ou externos a UTFPR.
</p>
<p>
    Quaisquer dúvidas entre em contato com a equipe do evento através da <a target="_blank" href=" https://www.facebook.com/semanaeletroinf?fref=ts">fan page do evento</a>.
</p>
<p>
    Organização: DAELN, DAINF,
Grupos PETs: PET-CoCE, PET-ECO, PET-EE
CAs: CAEC, CAELN, CASIS
</p>
<p>
    Realização: UTFPR, Ministério da Educação.

</p>
