@{
    ViewBag.Title = "Recuperar Senha";
}

<h2>Recuperar Senha</h2>

Para recuperar sua senha, é necessário digitar seu e-mail no campo abaixo:

@Html.ValidationSummary()

<form method="post">
    <input name="email" type="text" id="email" />
    <button type="submit">Enviar</button>
</form>

