@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>

            <a href="#">Olá, @SemanaAcademica.Usuario.SessionPersist.NomeMenu!</a> @*Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!*@
        </li>
        <li>@Html.ActionLink("Sair", "Sair", new { area = "", controller = "Cadastro" })</li>
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Entrar", "Entrar", new { area = "", controller = "Cadastro" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Inscrever-se", "Participante", new { area = "", controller = "Cadastro" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
