@if (Request.IsAuthenticated)
{
    <text>
    Olá, @SemanaAcademica.Usuario.SessionPersist.Nome! @*Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!*@
    @Html.ActionLink("Sair", "Sair",  new { area = "", controller = "Cadastro" })
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("Inscrever", "Participante", new { area = "", controller = "Cadastro" })</li>
        <li>@Html.ActionLink("Entrar", "Entrar", new { area = "", controller = "Cadastro" })</li>
    </ul>
}
