@model SemanaAcademica.Areas.Admin.Models.RegistrarParticipacaoModel
@{
    ViewBag.Title = "Lista de Presença";
}

<center>

    <h2>Lista de Participação</h2>
    <p>
        <h3>
            @Html.DisplayFor(model => model.NomeEvento)
        </h3>

</center>
